body{
  background-image: url(background.jpg);
  background-size: cover;
}

*{
  box-sizing: border-box;
  font-family: verdana;
}

body > div {
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  margin-top: 20px;
  width: 950px;
  height: 700px;
  border-radius: 15px;
}

#logo{
  width: 21%;
  padding-top: 85px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img + div{
  color: rgb(0,204,0);
  font-size: 25px;
  text-align: center;
}

#nav-menu{
  width: 83%;
  height: 5%;
  background-color: rgb(0,204,0);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

nav > div{
  text-align: center;
  padding-top: 7px;
}

button{
  font-size: 12px;
}

.square:before {
  content: ' \25A0';
  color: white;
}

main{
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  line-height: 25px;
}

#scooter-owner{
  font-size: 20px;
  margin-top: 13px;
}

#first-charging{
  margin-top: 5px;
  width: 35%;
  height: 25px;
  background-color: rgb(255,160,70);
  border-radius: 5px;
}

#second-charging{
  margin-top: 5px;
  width: 50%;
  height: 25px;
  background-color: rgb(0,153,0);
  border-radius: 5px;
}

#third-charging{
  margin-top: 5px;
  width: 15%;
  height: 25px;
  background-color: rgb(150,0,0);
  border-radius: 5px;
}
